<template>
  <v-theme-provider theme="dark">
    <v-app>
      <v-main>
        <v-container>
          <img src="/logo.png"
               alt="Faktor X Mensch Logo" width="250" style="margin:auto;display:block;margin-bottom:15px" height="35">
          <v-card>
            <v-card-title>
              Zeiterfassung für Freelancer
            </v-card-title>
            <fxm-erfassung/>
            <fxm-stunden/>
          </v-card>
        </v-container>
      </v-main>
    </v-app>
  </v-theme-provider>
</template>
<script setup lang="ts">
</script>