<template>
  <v-card>
    <v-card-text>
      <v-text-field v-model="newHour.minutes" label="Minuten"></v-text-field>
      <v-textarea v-model="newHour.description" label="Beschreibung"></v-textarea>

      <v-btn
          :disabled="newHour.minutes === 0 || newHour.description === ''"
          @click="save" prepend-icon="mdi-content-save" color="primary">Speichern
      </v-btn>
    </v-card-text>
  </v-card>
</template>

<script setup lang="ts">
import {storeToRefs} from "pinia";
import {useP2Store} from "~/stores/p2";

// get existing hours from store
const p2store = useP2Store()
const {addHour} = p2store

// handle creation of new hour
const newHour = ref({minutes: 0, description: ''})
const save = () => {
  addHour(newHour.value.minutes, newHour.value.description)
  newHour.value = {minutes: 0, description: ''}
}
</script>