<template>
  <v-card v-for="hour in hours" :key="hour._id" style="margin-top:15px">
    <v-card-title>{{ hour.minutes }} Minuten</v-card-title>
    <v-card-text>
     {{hour.description}}
    </v-card-text>
  </v-card>
</template>

<script setup lang="ts">
import {storeToRefs} from "pinia";
import {useP2Store} from "~/stores/p2";

// get existing hours from store
const p2store = useP2Store()
const {hours} = storeToRefs(p2store)
</script>